version: '2'

services:
  bowhead:
    build: ./docker/bowhead
    container_name: bowhead
    hostname: bowhead
    volumes:
      - ./src:/var/www/bowhead
    ports:
      - "80:80"

  bowhead-mysql:
    image: mysql
    container_name: bowhead-mysql
    hostname: bowhead-mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=bowhead
    volumes:
      - ./docker/mysql/resources:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

  bowhead-redis:
    image: redis
    container_name: bowhead-redis
    hostname: bowhead-redis
    restart: unless-stopped
    ports:
      - "6379:6379"